 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/6777-min.jpg');
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 856px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  margin: 60px 632px 0 0;
}

.u-section-1 .u-list-1 {
  width: 508px;
  margin: 45px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 7.5px));
  min-height: 496px;
  grid-gap: 15px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px 570px 60px 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 72.12% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 432px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 240px;
    margin-right: 112px;
  }

  .u-section-1 .u-list-1 {
    width: 591px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 45px;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 72.71% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 501px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: 35px;
    margin-bottom: 53px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 262px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 41px;
  margin-top: 41px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 180px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 36px 0;
}

.u-section-2 .u-group-1 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -76px 0 0 100px;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 36px 0;
}

.u-section-2 .u-group-2 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -76px 0 0 100px;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 36px 0;
}

.u-section-2 .u-group-3 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: -76px 0 0 100px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 148px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 99px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 99px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 247px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .u-section-2 .u-group-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .u-section-2 .u-group-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 471px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 543px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 2;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 558px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 37px auto 0 0;
  padding: 13px 35px 14px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px auto 60px 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 343px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 223px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 223px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 13px 35px 14px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 184px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 690px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  width: 1112px;
  margin: 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 377px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  width: 64px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-icon-5 {
  width: 64px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-icon-6 {
  width: 64px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-12 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 572px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 0;
  }
} .u-section-6 {
  min-height: 1021px;
  background-image: none;
}

.u-section-6 .u-image-1 {
  height: 620px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: -150px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 472px;
  grid-gap: 20px;
}

.u-section-6 .u-list-item-1 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-top: 20px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-text-4 {
  margin-left: 0;
  margin-top: 20px;
}

.u-section-6 .u-list-item-3 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-text-6 {
  margin-left: 0;
  margin-top: 20px;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 43px auto 60px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 891px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 386px;
  }

  .u-section-6 .u-image-2 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 921px;
  }

  .u-section-6 .u-image-2 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 2295px;
  }

  .u-section-6 .u-image-1 {
    height: 509px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-2 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1967px;
  }

  .u-section-6 .u-image-1 {
    height: 449px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    height: 259px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-3 {
    height: 259px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-4 {
    height: 259px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 763px;
}

.u-section-7 .u-group-1 {
  width: 790px;
  min-height: 284px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: 30px 0 0;
}

.u-section-7 .u-list-1 {
  margin: 30px auto 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 274px;
  grid-gap: 20px;
}

.u-section-7 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-2 {
  padding: 25px 20px;
}

.u-section-7 .u-icon-1 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-7 .u-text-3 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 40px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-3 {
  padding: 25px 20px;
}

.u-section-7 .u-icon-2 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-7 .u-text-5 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 40px 0 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-4 {
  padding: 25px 20px;
}

.u-section-7 .u-icon-3 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-7 .u-text-7 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 40px 0 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-5 {
  padding: 25px 20px;
}

.u-section-7 .u-icon-4 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-7 .u-text-9 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 40px 0 0;
}

.u-section-7 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 730px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 1069px;
}

.u-section-8 .u-shape-1 {
  height: 577px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  width: 819px;
  height: 741px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -510px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-group-1 {
  min-height: 420px;
  width: 497px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -255px calc(((100% - 1140px) / 2) + 55px) 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 13px 35px 14px;
}

.u-section-8 .u-shape-2 {
  width: 250px;
  height: 250px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -335px auto 60px calc(((100% - 1140px) / 2) + 34px);
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    width: 767px;
    height: 676px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-group-1 {
    margin-top: -190px;
    margin-right: calc(((100% - 940px) / 2) + 55px);
    height: auto;
  }

  .u-section-8 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2) + 34px);
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 1120px;
  }

  .u-section-8 .u-shape-1 {
    height: 445px;
  }

  .u-section-8 .u-image-1 {
    width: 665px;
    height: 456px;
    margin-top: -378px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-group-1 {
    width: 665px;
    min-height: 395px;
    margin-top: 135px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-shape-2 {
    width: 183px;
    height: 183px;
    margin-top: -631px;
    margin-left: calc(((100% - 720px) / 2) + 36px);
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1009px;
  }

  .u-section-8 .u-shape-1 {
    height: 364px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 370px;
    margin-top: -296px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-group-1 {
    width: 540px;
    margin-top: 110px;
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -606px;
    margin-left: calc(((100% - 540px) / 2) + 36px);
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 992px;
  }

  .u-section-8 .u-shape-1 {
    height: 268px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 276px;
    margin-top: -201px;
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    min-height: 470px;
  }

  .u-section-8 .u-shape-2 {
    width: 134px;
    height: 134px;
    margin-top: -656px;
    margin-left: calc(((100% - 340px) / 2) + 11px);
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/56-min.jpg');
  background-position: 50% 0%;
}

.u-section-9 .u-sheet-1 {
  min-height: 718px;
}

.u-section-9 .u-text-1 {
  text-shadow: 2px 2px 14px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 286px auto 0;
}

.u-section-9 .u-text-2 {
  width: 760px;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 692px;
  margin: 30px auto 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 98px;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-btn-1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 0 0 auto;
  padding: 18px 43px 20px 41px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 98px;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-btn-2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 17px 70px 19px 69px;
}

.u-section-9 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 60px;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 200px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-3 {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 230px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 77px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 77px;
  }

  .u-section-9 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 51px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 0;
  }
} .u-section-10 {
  min-height: 859px;
}

.u-section-10 .u-shape-1 {
  height: 358px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: -285px auto 0;
}

.u-section-10 .u-image-1 {
  min-height: 377px;
  background-image: url("images/64745322-c864-486f-a32f-adc405a416b2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  min-height: 381px;
  background-image: url("images/sd3.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-image-3 {
  min-height: 374px;
  background-image: url("images/02.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-10 .u-container-layout-6 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px;
}

.u-section-10 .u-image-4 {
  min-height: 374px;
  background-image: url("images/222.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-8 {
  padding: 30px;
}

.u-section-10 .u-layout-wrap-2 {
  width: 1140px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px auto 60px;
}

.u-section-10 .u-layout-cell-9 {
  min-height: 221px;
}

.u-section-10 .u-container-layout-9 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-10 .u-form-1 {
  margin: 30px auto 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-10 .u-layout-cell-10 {
  min-height: 264px;
}

.u-section-10 .u-container-layout-10 {
  padding: 30px 0 30px 30px;
}

.u-section-10 .u-text-3 {
  margin: 0;
}

.u-section-10 .u-text-4 {
  margin: 17px auto 0 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 805px;
  }

  .u-section-10 .u-shape-1 {
    height: 303px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -230px;
  }

  .u-section-10 .u-image-1 {
    min-height: 311px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-10 .u-image-2 {
    min-height: 314px;
  }

  .u-section-10 .u-image-3 {
    min-height: 308px;
  }

  .u-section-10 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-10 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-10 .u-image-4 {
    min-height: 308px;
  }

  .u-section-10 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-9 {
    min-height: 321px;
  }

  .u-section-10 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-10 {
    min-height: 254px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 1539px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-image-1 {
    min-height: 476px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-10 .u-image-2 {
    min-height: 481px;
  }

  .u-section-10 .u-image-3 {
    min-height: 472px;
  }

  .u-section-10 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-10 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-10 .u-image-4 {
    min-height: 472px;
  }

  .u-section-10 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 3155px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-image-1 {
    min-height: 714px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    min-height: 722px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-3 {
    min-height: 708px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-4 {
    min-height: 708px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-10 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 2146px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-image-1 {
    min-height: 450px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-10 .u-image-2 {
    min-height: 455px;
  }

  .u-section-10 .u-image-3 {
    min-height: 446px;
  }

  .u-section-10 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-10 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-10 .u-image-4 {
    min-height: 446px;
  }

  .u-section-10 .u-layout-wrap-2 {
    width: 340px;
  }
}